<link rel="stylesheet" href="/control/css/header.css">

<div class="navbar">
    <div class="navbar-content">
        <a href="/home.html" class="nav-btn active-page">Home</a>
        <a href="/profiles.html" class="nav-btn">User Profiles</a>
        <a href="/nip56.html" class="nav-btn">NIP-56 Reports Summary</a>
        <a href="/nip85.html" class="nav-btn">NIP 85</a>
        <a href="/about.html" class="nav-btn">About</a>
        <a href="${BRAINSTORM_NEO4J_BROWSER_URL}" target="_blank" class="nav-btn">Neo4j Browser</a>
        <a href="/relay" target="_blank" class="nav-btn">Strfry Relay</a>
        <a href="/under-construction.html" class="nav-btn">Pages: Under Construction</a>
    </div>
</div>
