<link rel="stylesheet" href="/control/css/header.css">

<div class="navbar">
    <div class="navbar-content">
        <a href="/control/index.html" class="nav-btn active-page">Home</a>
        <a href="/control/nip85.html" class="nav-btn">NIP 85</a>
        <a href="/control/about.html" class="nav-btn">About</a>
        <a href="${HASENPFEFFR_NEO4J_BROWSER_URL}" target="_blank" class="nav-btn">Neo4j Browser</a>
        <a href="/" target="_blank" class="nav-btn">Strfry Relay</a>
        <a href="/control/under-construction.html" class="nav-btn">Under Construction</a>
    </div>
</div>
