<link rel="stylesheet" href="/control/css/header.css">

<div class="navbar">
    <div class="navbar-content-scrollable">
        <a href="#" class="nav-btn">Test 1</a>
        <a href="#" class="nav-btn">Test 2</a>
        <a href="#" class="nav-btn">Test 3</a>
        <a href="#" class="nav-btn">Test 4</a>
        <a href="#" class="nav-btn">Test 5</a>
        <a href="#" class="nav-btn">Test 6</a>
        <a href="#" class="nav-btn">Test 7</a>
        <a href="#" class="nav-btn">Test 8</a>
        <a href="#" class="nav-btn">Test 9</a>
        <a href="#" class="nav-btn">Test 10</a>
    </div>
</div>
