<!-- Brainstorm Footer Component -->
<link rel="stylesheet" href="/css/footer.css">

<div class="footer">
    <div class="footer-content">
        <div class="footer-item">
            Built with love by <a href="https://njump.me/npub1u5njm6g5h5cpw4wy8xugu62e5s7f6fnysv0sj0z3a8rengt2zqhsxrldq3" target="_blank">@straycat</a>
        </div>
        <div class="footer-item">
            Powered by <a href="https://sr.ht/~gheartsfield/strfry/" target="_blank">strfry</a> and <a href="https://neo4j.com/" target="_blank">Neo4j</a>
        </div>
        <div class="footer-item">
            <a href="https://github.com/Pretty-Good-Freedom-Tech/hasenpfeffr" target="_blank">GitHub</a>
        </div>
    </div>
</div>
