@import "./common.css";

body {
    background-color: #333;
    color: #b234bd;
}

.container-landing h1 {
    text-align: center;
    font-size: 42px;
    color: #b234bd;
    margin: 20px 0;
}

.container-landing h2 {
    text-align: center;
    font-size: 32px;
    color: #b234bd;
    margin: 20px 0;
}

.container-landing {
    text-align: center;
    margin: 0 auto;
}
