[Unit]
Description=Add to Nostr Queue Service
After=network.target

[Service]
Type=simple
User=ubuntu
EnvironmentFile=/etc/hasenpfeffr.conf
ExecStart=sudo /usr/bin/node /usr/local/lib/node_modules/hasenpfeffr/src/pipeline/stream/addToQueue.mjs
Restart=on-failure

[Install]
WantedBy=multi-user.target