[Unit]
Description=calculate personalizedPageRank and store scores in Neo4j

[Service]
Type=simple
User=hasenpfeffr
EnvironmentFile=/etc/hasenpfeffr.conf
ExecStart=/usr/local/lib/node_modules/hasenpfeffr/src/algos/calculatePersonalizedPageRank.sh

[Install]
WantedBy=multi-user.target