[Unit]
Description=Process all routine tasks periodically
After=network.target neo4j.service

[Timer]
# Run every 1 hours
Unit=processAllTasks.service
OnBootSec=5min
OnUnitActiveSec=1h
RandomizedDelaySec=5min

[Install]
WantedBy=timers.target