[Unit]
Description=Process all routine tasks
After=network.target neo4j.service

[Service]
Type=simple
User=hasenpfeffr
EnvironmentFile=/etc/hasenpfeffr.conf
ExecStart=sudo /usr/local/lib/node_modules/hasenpfeffr/src/manage/processAllTasks.sh
Restart=on-failure
RestartSec=30
# Set resource limits to prevent excessive resource usage
CPUQuota=70%
# Add additional security measures
PrivateTmp=true

[Install]
WantedBy=multi-user.target