connectionTimeout = 20

streams {
    ## Stream down events from our friend relays

    baselineWoT {
        dir = "down"

        filter = { "kinds": [3, 1984, 10000], "limit": 5 }

        urls = [
            "wss://relay.primal.net",
            "wss://relay.hasenpfeffr.com",
            "wss://profiles.nostr1.com",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }

    # All content, gated by the hasenpfeffr plugin which incorporates the WoT
    gatedContent {
        dir = "down"

        filter = { "kinds": [1], "limit": 5 }

        pluginDown = "~/strfry/plugins/hasenpfeffr.js"

        urls = [
            "wss://relay.primal.net",
            "wss://relay.hasenpfeffr.com",
            "wss://profiles.nostr1.com",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }
}
