connectionTimeout = 20

streams {
    ## Stream down WoT-related events (profile info, follows, mutes, reports) from our friend relays

    baselineWoT {
        dir = "down"

        filter = { "kinds": [0, 3, 1984, 10000], "limit": 5 }

        urls = [
            "wss://relay.primal.net",
            "wss://relay.hasenpfeffr.com",
            "wss://profiles.nostr1.com",
            "wss://relay.damus.io",
            "wss://relay.nostr.band"
        ]
    }
}
