<!-- Hasenpfeffr Header Component -->
<link rel="stylesheet" href="/control/css/header.css">

<div class="header">
    <div class="header-content">
        <h1 class="header-title">Hasenpfeffr</h1>
        <p>Personalized WoT Nostr relay</p>
        <div class="auth-status">
            <div id="userInfo" class="user-info">
                <div class="user-avatar" id="userAvatar"></div>
                <span id="userName">Authenticated</span>
                <a href="/control/sign-in.html?logout=true" class="btn">Logout</a>
            </div>
            <a href="/control/sign-in.html" id="signInLink" class="btn">Sign In</a>
        </div>
    </div>
    <!-- Dynamic Navigation Bar - Will be loaded by JavaScript -->
    <div id="navbar-container"></div>
</div>
