<!-- Hasenpfeffr Header Component -->
<link rel="stylesheet" href="/control/css/header.css">

<div class="header">
    <div class="header-content">
        <a href="/" style="text-decoration: none;">
            <h1 class="header-title">
                <img src="/img/brainstorm010.svg" style="height: 42px; margin-left: 8px; margin-right: 5px; position: relative; top: 12px;" />
                Brainstorm
            </h1>
        </a>
        <div class="auth-status">
            <div id="userInfo" class="user-info">
                <a href="/home.html" style="font-size:32px;">⚙️</a>
                <div class="user-avatar" id="userAvatar"></div>
                <span id="userName">Authenticated</span>
                <a href="/sign-in.html?logout=true" class="btn">Logout</a>
            </div>
            <span id="signInLink" >
                <a href="/home.html" class="btn">Take a tour!</a>
                <a href="/sign-in.html" class="btn">Owner Sign In</a>
            </span>
        </div>
    </div>
    <!-- Dynamic Navigation Bar - Will be loaded by JavaScript -->
    <div class="navbar-container">
        <center><div id="navbar-container"></div></center>
    </div>
</div>
